<div class="container pad-top">
  <a ui-sref="newTshirt" class="btn-primary btn-lg nodecoration">Add New T-Shirt</a>
  <table class="table tshirttable">
      <tr>
          <td><h3>All T-Shirts</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="tshirt in tshirts">
          <td>{{tshirt.id}}</td>
          <td>{{tshirt.name}}</td>
          <td>{{tshirt.size}}</td>
          <td>{{tshirt.colour}}</td>
          <td>{{tshirt.price}}</td>
          <td>{{tshirt.image}}</td>          
          <td><img src= "{{tshirt.image}}" style="height:100px;width:100px;"/> </td>          
          <td>
              <a class="btn btn-primary" ui-sref="viewTshirt({id:tshirt.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteTshirt(tshirt)">Delete</a>
          </td>
      </tr>
  </table>
</div>
